body {
  font-family: "Poppins", sans-serif;
  background-color: #0f172a;
  color: white;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 78px;
}

.right {
  flex: 3;
  background-color: red;
  border-radius: 10px;
  padding: 20px;
  max-width: 800px;
}

#santa {
  background: white;
  color: black;
  font-size: 4em;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: 120px;
}

button {
  background-color: #22c55e;
  border: none;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  background-color: #16a34a;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  width: 33%;
}
